body {
  margin-left: 150px;
  margin-right: 150px;
}

.ent1 {
  text-align: center;
  font-size: 30px;
}

.nom {
  text-align: center;
}

.titleh2 {
  margin-top: 50px;
}

td {
  text-align: center;
}

th {
  text-align: center;
}


